
body, html {
    margin:0px; /*Это хорошая практика обнулять поля и отсупы, т.к. различные браузеры их по разному воспринимают. */
    padding:0px;
    text-align:center; /*Выравниваем макет по центру в старых версиях браузеров */
}
#container{
    margin:0 auto;  /*выравниваем макет по центру в современных браузерах */
    text-align:left;  /*Отменяем tex-align:center заданное в Body. Делаем чтобы весь текст в макете выравнивался по левому краю */
    min-width:550px;  /*задаем минимальную ширину макета в современных браузерах */
/*width:expression(   задаем минимальную ширину макета в старых версия браузера. Просто замените цифру на свою шиирину :) 
(document.compatMode && document.compatMode == 'CSS1Compat')
   ?
(
document.documentElement.clientWidth < 550
?
"550px"
:
"auto"
)
:
(
document.body.clientWidth < 550
?
"550px"
:
"auto"
)
);*/
}
/*Здесь пишем стили для шапки сайта */
#header{
    background-color:#63b9da;
}
#header h1 {
    margin: 0; /* Обнуляем отсупы для заголовка первого уровня, находящегося в шапке. Это нужно обязательно делать, при использовании заголовков. Если используются параграфы, то тоже нужно обнулить отсупы для них. */
    padding: 10px 0; /* Задаем поля */
}
/*Здесь пишем стили для левой колонки сайта */
#left{
    background-color:#a9d28c;
    width:20%;  /*ширина колонки */
    float:left;  /*обязательное выравнивание по левому краю,с включением обтекания*/
}
/*Здесь пишем стили для правой колонки сайта */
#right{
    width:20%; /*ширина правой колонки */
    background-color:#a9dffe;
    float:right; /*обазятельное выравнивание колонки по правому краю с включением обтекания */
}
/*Здесь пишем стили для блока контента */
#content{
    background-color:#d5d7b5;
    margin:0px; /*обнуляем отступы сверху и снизу*/
    margin-left:20.1%; /*обязательный отступ слева, должен быть немного больше ширины левой колонки */
    margin-right:20.1%; /*Обязательный отступ справа, должен быть немного больше ширины правой колонки */
}
#content h1 {
    margin:0px; /* Обнуляем отсупы для заголовка первого уровня, находящегося в блоке контента.*/
} 
#content p {
    margin:0px; /* Обнуляем отсупы для параграфов я, находящегося в блоке контента.*/
    padding:5px; /*задаем поля, т.е. чтобы был промежуток между строками, чтобы было понятно, что это параграф :)*/
}
/*атрибут, который опускает подвал сайта ниже всех блоков. Нужен для корректной работы макета. */
#clear{
    height:0;
    font-size:1px;
    line-height:0px;
    clear:both;
}
/*Здесь пишем стили для подвала сайта */
#footer{
background-color:#d292bc;
}
#footer p{
    margin:0px;/* обнуляем отступы*/
        padding: 30 20; /*  задаем поля */
}
#enter{
		
}
table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
    /*Границы ячеек заголовка каждого столбца задаются для элемента th*/
    border: 1px solid grey;
}
td {   
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
    /*Границы ячеек тела таблицы задаются для элемента td*/
    border: 1px solid grey;
}
table {
    /*Внешнюю границу таблицы */
    border: 2px solid grey;
}
/*tr:hover td {
    background: #e8edff;
}*/